<div class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">epgp.net</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/about"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;About EP/GP</a>
        </li>
        {{#if session.expires_at}}
        <li class="nav-item">
          <a class="nav-link" href="/epgp"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;EP/GP Standings</a>
        </li>
        {{/if}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            In-Game Addons
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" target="_new" href="https://www.curseforge.com/wow/addons/epgp-classic"><i class="fa fa-twitch" aria-hidden="true"></i>&nbsp;&nbsp;EPGP Classic</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" target="_new" href="https://www.curseforge.com/wow/addons/cepgp"><i class="fa fa-twitch" aria-hidden="true"></i>&nbsp;&nbsp;CEPGP</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" target="_new" href="https://www.curseforge.com/wow/addons/classic-loot-manager"><i class="fa fa-twitch" aria-hidden="true"></i>&nbsp;&nbsp;Classic Loot Manager</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" target="_new" href="https://github.com/yutsuku/epgp"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;&nbsp;DKP Reloaded (3.3.5a)</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_new" href="https://discord.gg/a4kVKJN"><i class="fa fa-comments" aria-hidden="true"></i>&nbsp;&nbsp;Discord Discussion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/setup"><i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp;&nbsp;Getting Started</a>
        </li>
        {{#if session.expires_at}}
        <li class="nav-item">
          <a class="nav-link" title="Logged in until {{session.expires_at}}" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Logout</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="{{discordUrl}}"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Login</a>
        </li>
        {{/if}}
      </ul>
      <div data-toggle="tooltip" data-placement="bottom" title="{{#if serverStatus.online}}Bot has been online for {{serverStatus.uptime}}{{else}}Bot is offline{{/if}}">
        Discord Bot: <i class="fa {{#if serverStatus.online}}fa-check-circle-o green{{else}}fa-circle red{{/if}}" aria-hidden="true"></i>
      </div>
    </div>
  </nav>
</div>
{{#if errorMessage}}
<div class="alert alert-danger alert-dismissible alert-dismissible fade show center" role="alert">
  {{errorMessage}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}
