<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/epgp/{{guild.id}}">{{guild.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Configuration</li>
  </ol>
</nav>
{{#if serverStatus.online}}
  {{#if isAdmin}}
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">General Configuration</h4>
        <br/>
        <div>
          <form method="POST" action="/config/{{guild.id}}">
            <div class="form-group">
              <label for="webhook">Webhook URL</label>
              <input
                type="url"
                value="{{guild.webhook}}"
                class="form-control"
                id="webhook"
                name="webhook"
                aria-describedby="webhookHelp"
                placeholder="https://discordapp.com/api/webhooks/00000{channel-id-numbers}00000/{long-token-here}">
              <small id="webhookHelp" class="form-text text-muted">
                Get this URL by right-clicking the channel -> Edit Channel -> Webhooks -> Create Webhook<br/>
                Adding a Webhook URL will post EPGP values to the Webhook channel every time you upload a new backup.<br/>
                The Discord Bot is <b>not</b> required when using the webhook.
              </small>
            </div>
            <div class="form-group">
              <label for="wowheadDomain">Wowhead Item Links</label>
              <select class="form-control" name="wowheadDomain" id="wowheadDomain" aria-describedby="wowheadDomainHelp">
                <option {{#if (eqDefault guild.wowheadDomain 'classic' 'classic')}}SELECTED{{/if}} value="classic">Classic</option>
                <option {{#if (eqDefault guild.wowheadDomain 'www' 'classic')}}SELECTED{{/if}} value="www">Retail</option>
              </select>
              <small id="wowheadDomainHelp" class="form-text text-muted">Select which Wowhead domain should be used for item links</small>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="enableRefundFilter" name="enableRefundFilter" aria-describedby="enableRefundFilterHelp" value="true" {{#if guild.enableRefundFilter}}CHECKED{{/if}} />
                <label class="form-check-label" for="enableRefundFilter">Enable Refund Filter</label>
              </div>
              <small id="enableRefundFilterHelp" class="form-text text-muted">
                Sometimes, we make mistakes.
                The addon does provide for &quot;undo&quot; functionality,
                but mistakes fixed much later can be harder to undo and some resort to adding a -#### GP value to refund an item.
                Checking this will filter out refunded items along with their positive number counterparts.  Ex: 1000 Arcanist Robes; -1000 Arcanist Robes.
              </small>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="enableDuplicateFilter" name="enableDuplicateFilter" aria-describedby="enableDuplicateFilterHelp" value="true" {{#if guild.enableDuplicateFilter}}CHECKED{{/if}} />
                <label class="form-check-label" for="enableDuplicateFilter">Enable Duplicate Filter</label>
              </div>
              <small id="enableDuplicateFilterHelp" class="form-text text-muted">
                Because we calculate loot from multiple backup JSON files, the timestamps can be slightly different from different computers.
                Enabling this filter will consider any identical item looted within 15 minutes to be a duplicate.
              </small>
            </div>
            <div class="form-group">
              <label for="discordColumnSpacing">Discord Webhook/Bot Column Spacing</label>
              <input type="number" class="form-control" id="discordColumnSpacing" name="discordColumnSpacing" aria-describedby="discordColumnSpacingHelp" value="{{guild.discordColumnSpacing}}" placeholder="2" min="2" max="10">
              <small id="discordColumnSpacingHelp" class="form-text text-muted">
                The number of spaces between columns in the Discord spam message (Webhook or bot !epgp list command).  Min 2 Max 10
              </small>
            </div>
            <div class="form-group">
              <label for="latestLoot">&quot;Latest Loot&quot; count</label>
              <input type="number" class="form-control" id="latestLootCount" name="latestLootCount" aria-describedby="latestLootCountHelp" value="{{guild.latestLootCount}}" placeholder="10">
              <small id="latestLootCountHelp" class="form-text text-muted">Set the number of &quot;latest loot&quot; items shown; &lt;=0 to disable</small>
            </div>
            <button type="submit" class="btn btn-primary">Update Configuration</button>
          </form>
        </div>
      </div>
    </div>
    <br/>
    {{#if bot}}
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Discord Bot Config</h4>
          <br/>
          <div>
            <form method="POST" action="/config/{{guild.id}}">
              <div class="form-group">
                {{#if bot.disabled}}
                  <input type="hidden" name="disableBot" value="false" />
                  <button type="submit" class="btn btn-success">Enable Bot</button>
                {{else}}
                  <input type="hidden" name="disableBot" value="true" />
                  <button type="submit" class="btn btn-warning">Disable Bot</button>
                {{/if}}
              </div>
            </form>
          </div>
        </div>
      </div>
    {{else}}
      <div><a class="btn btn-secondary" target="_new" href="{{botUrl}}" role="button">Add Discord Bot</a></div>
    {{/if}}
  {{/if}}
{{else}}
  <div class="alert alert-danger" role="alert">
    The Discord bot is currently offline
  </div>
{{/if}}
<br/>
{{#if bot}}
  {{#if bot.disabled}}
    <div class="alert alert-warning" role="alert">
      The Discord bot is currently disabled for your server
    </div>
  {{else}}
    <div class="alert alert-success" role="alert">
      The Discord bot is set up and active for your server
    </div>
  {{/if}}
{{else}}
  <div class="alert alert-danger" role="alert">
    The Discord bot has not been added to your server
  </div>
  {{#unless isAdmin}}
    <div>A user with ADMIN or MANAGE_GUILD permissions needs to come to this page to add the bot to the Discord server</div>
  {{/unless}}
{{/if}}
<br/>
<h3>Discord Bot Commands</h3>
<div class="card">
  <div class="card-body">
  <h4 class="card-title">!epgp</h4>
  <h4 class="card-title">!epgp list <span style="font-size: 12pt;">(admin only: same message to current channel)</span></h4>
    <pre>
Name                     EP          GP          PR
Roman                    5291        1000        5.29
Broandite                5208        1000        5.21
Torched                  4979        1000        4.98
Biffins                  4881        1000        4.88
Reliante                 4109        1000        4.11
Britiania                6670        1660        4.02
Brodoodle                6662        1678        3.97
Marker                   6670        1682        3.97
Doolie                   6670        1833        3.64
Bouncer                  6662        1836        3.63
Fishies                  5640        1552        3.63
Raxil                    6662        1935        3.44
Barta                    6670        1975        3.38
Towelet                  4705        1408        3.34
    </pre>
  </div>
</div>
<br/>
<div class="card">
  <div class="card-body">
  <h4 class="card-title">!epgp Torched</h4>
    <pre>
Torched-Server
EP: 6160
GP: 2695
PR: 2.2857142857142856
    </pre>
  </div>
</div>
