{{#if serverStatus.online}}
  {{#if bot}}
    {{#if bot.disabled}}
      <div class="alert alert-warning" role="alert">
        The Discord bot is currently disabled for your server
      </div>
    {{else}}
      <div class="alert alert-success" role="alert">
        The Discord bot is set up and active for your server
      </div>  
    {{/if}}
      <h3>{{guild.name}} Bot Instructions</h3>
      <div class="card">
        <div class="card-body">
        <h4 class="card-title">!epgp</h4>
        <h4 class="card-title">!epgp list <span style="font-size: 12pt;">(admin only: same message to current channel)</span></h4>
          <pre>
      Name                     EP          GP          PR
      Roman                    5291        1000        5.29
      Broandite                5208        1000        5.21
      Torched                  4979        1000        4.98
      Biffins                  4881        1000        4.88
      Reliante                 4109        1000        4.11
      Britiania                6670        1660        4.02
      Brodoodle                6662        1678        3.97
      Marker                   6670        1682        3.97
      Doolie                   6670        1833        3.64
      Bouncer                  6662        1836        3.63
      Fishies                  5640        1552        3.63
      Raxil                    6662        1935        3.44
      Barta                    6670        1975        3.38
      Towelet                  4705        1408        3.34
          </pre>
        </div>
      </div>
      <br/><br/>
      <div class="card">
        <div class="card-body">
        <h4 class="card-title">!epgp Torched</h4>
          <pre>
      Torched-Server
      EP: 6160
      GP: 2695
      PR: 2.2857142857142856
          </pre>
        </div>
      </div>
      <br/><br/>
  {{else}}
    <div class="alert alert-danger" role="alert">
      The Discord bot has not been added to your server
    </div>
    {{#unless isAdmin}}
      A user with ADMIN or MANAGE_GUILD permissions needs to come to this page to add the bot to the Discord server
    {{/unless}}
  {{/if}}
  {{#if isAdmin}}
    <div style="float:right;">
      {{#if bot}}
        {{#if bot.disabled}}
          <form method="POST" action="/bot/{{guild.id}}">
            <input type="hidden" name="disableBot" value="false" />
            <button type="submit" class="btn btn-success">Enable Bot</button>
          </form>
        {{else}}
          <form method="POST" action="/bot/{{guild.id}}">
            <input type="hidden" name="disableBot" value="true" />
            <button type="submit" class="btn btn-warning">Disable Bot</button>
          </form>      
        {{/if}}    
      {{else}}
        <div><a class="btn btn-secondary" target="_new" href="{{botUrl}}" role="button">Add Discord Bot</a></div>
      {{/if}}
    </div>
  {{/if}}
{{else}}
  <div class="alert alert-danger" role="alert">
    The Discord bot is currently offline
  </div>
{{/if}}
