<table class="table table-bordered{{#if guildsWithEpgp}} table-striped{{/if}} table-dark">
  <thead>
    <tr><th colspan="3"><h4>EP/GP Guilds</h4></th></tr>
  </thead>
  {{#unless guildsWithEpgp}}
    <tr><td colspan="3"><i>None of your current guilds have EP/GP</i></td></tr>
  {{/unless}}
  {{#each guildsWithEpgp}}
    <tr>
      <td class="narrow">{{#if icon}}<img src="https://cdn.discordapp.com/icons/{{id}}/{{icon}}.png" width="50">{{/if}}</td>
      <td>{{name}}</td>
      <td class="narrow"><a class="btn btn-primary" href="/epgp/{{id}}" role="button">View EP/GP</a></td>
    </tr>
  {{/each}}
</table>
<br/><br/>
<table class="table table-bordered{{#if nonGuildsWithAdmin}} table-striped{{/if}} table-dark">
  <thead>
    <th colspan="3"><h4>Add EP/GP to a managed Guild</h4></th>
  </thead>
  <tbody>
  {{#each nonGuildsWithAdmin}}
    <tr>
      <td class="narrow">{{#if icon}}<img src="https://cdn.discordapp.com/icons/{{id}}/{{icon}}.png" width="50">{{/if}}</td>
      <td>{{name}}</td>
      <td class="narrow"><form method="POST" action="/epgp/{{id}}"><button type="submit" class="btn btn-primary">Add EP/GP</button></form></td>
    </tr>
  {{/each}}
  </tbody>
  <tfoot>
    <tr><td colspan="3">You are a member of {{nonGuildsWithoutAdminCount}}{{#if nonGuildsWithAdmin}} other{{/if}} guilds.  To set up EP/GP, you are required to be the OWNER or have the ADMININSTRATOR permission.</td></tr>
  </tfoot>
</table>
