<div class="container">
  <div class="row">
    <div class="col-sm">
      <h4>{{guild.name}}</h4>
      {{#if current}}
        {{#if current.guild}}
          <table class="table table-sm table-bordered table-striped table-dark" style="width: 300px;">
            <tr><td>Realm:</td><td>{{current.realm}}</td></tr>
            {{#if (neq guild.name current.guild)}}
              <tr><td>Guild:</td><td>{{current.guild}}</td></tr>
            {{/if}}
            <!--tr><td>Region:</td><td>{{current.region}}</td></tr-->
            <tr><td>Base GP:</td><td>{{current.base_gp}}</td></tr>
            <tr><td>Decay:</td><td>{{current.decay_p}}%</td></tr>
            <tr><td>Min EP:</td><td>{{current.min_ep}}</td></tr>
            <tr><td>Extras:</td><td>{{current.extras_p}}</td></tr>
          </table>
        {{else}}
          <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        {{/if}}
      {{/if}}
    </div>
    <div class="col-sm">
      {{#if latestLoot}}
          <h4>Latest Loot:</h4>
          <table class="table table-sm table-bordered table-striped table-dark" style="width: 300px;">
            <thead><tr><th>Member</th><th>Loot</th></tr></thead>
              {{#each latestLoot}}
                <tr>
                  <td>
                    <a href="/epgp/{{../guild.id}}/loot/{{name}}" class="{{class}}">{{displayName}}</a>
                  </td>
                  <td>
                    {{{wowhead item ../guild.wowheadDomain}}}
                  </td>
                </tr>
              {{/each}}
          </table>
      {{/if}}
    </div>
    <div class="col-sm">
      <h4>&nbsp;</h4>
      {{#if canUpload}}
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#uploadModal">
          <i class="fa fa-cloud-upload" aria-hidden="true"></i>&nbsp;&nbsp;Upload Backup
        </button><br/><br/>
      {{/if}}
      {{#if isAdmin}}
        {{#if canCustomize}}
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#aliasModal">
            <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Customize Guild
          </button><br/><br/>
        {{/if}}
      {{/if}}
      <div>
        <a class="btn btn-secondary" href="/bot/{{guild.id}}" role="button"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;&nbsp;Configuration / Bot</a>
      </div>
    </div>
  </div>
</div>
<br/>
{{#if current}}
<table id="currentRoster" class="table table-bordered table-striped table-dark">
  <thead>
    <tr><td>Member</td><td>Class</td><td>EP</td><td>GP</td><td>PR</td></tr>
  </thead>
  {{#each current.roster}}
    <tr>
      <td>
        <a href="/epgp/{{../guild.id}}/loot/{{name}}" class="{{class}}">{{displayName}}</a>
        {{#if note}}<br/><span class="text-muted small">{{note}}</span>{{/if}}
      </td>
      <td>{{class}}</td>
      <td>{{ep}}</td>
      <td>{{gp}}</td>
      <td>{{pr}}</td>
    </tr>
  {{/each}}
</table>
<br/><br/>
<table id="backups" class="table table-sm table-bordered table-striped table-dark">
  <thead>
    <h4>All Backups:</h4>
    <tr><th>Members</th><th>Date</th><td>Actions</td></tr>
  </thead>
  {{#reverse guild.backups}}<tr>
    <td class="narrow">{{roster.length}}</td>
    <td>{{dtFormat timestampDate 'YYYY-MM-DD HH:mm'}}</td>
    <td class="narrow">
      <a class="btn btn-primary btn-sm" href="/epgp/{{../guild.id}}?index={{index}}" role="button">View</a>
      {{#if ../canUpload}}
        &nbsp;&nbsp;
        <a class="btn btn-primary btn-sm" href="/epgp/{{../guild.id}}/export?index={{index}}" role="button">Export</a>
      {{/if}}
    </td>
  </tr>{{/reverse}}
</table>
{{/if}}

<div class="modal" tabindex="-1" role="dialog" id="aliasModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="POST" action="/epgp/{{guild.id}}/alias" id="aliasForm">
        <div class="modal-header">
          <h5 class="modal-title">Customize Member Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group simpleModeGroup">
            <label for="characterName">Member</label>
            <select class="form-control" id="characterName" name="characterName">
              {{#each current.roster}}
                <option value="{{name}}">{{displayName}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group simpleModeGroup">
            <label for="characterClass">Class</label>
            <select class="form-control" id="characterClass" name="characterClass">
              <option value="">Not Set</option>
              <option value="Druid">Druid</option>
              <option value="Hunter">Hunter</option>
              <option value="Mage">Mage</option>
              <option value="Paladin">Paladin</option>
              <option value="Priest">Priest</option>
              <option value="Rogue">Rogue</option>
              <option value="Shaman">Shaman</option>
              <option value="Warlock">Warlock</option>
              <option value="Warrior">Warrior</option>
              <option value="Death Knight">Death Knight</option>
            </select>
          </div>
          <div class="form-group simpleModeGroup">
            <label for="characterAlias">Character Alias</label>
            <input type="text" class="form-control" name="characterAlias" id="characterAlias"
              aria-describedby="characterAliasHelp" placeholder="Another Name">
            <small id="characterAliasHelp" class="form-text text-muted">Add a custom alias to this character
              name.</small>
          </div>
          <div class="form-group simpleModeGroup">
            <label for="characterNote">Character Note</label>
            <input type="text" class="form-control" name="characterNote" id="characterNote"
              aria-describedby="characterNoteHelp" placeholder="Raid Leader">
            <small id="characterNoteHelp" class="form-text text-muted">Place a small note below this character's name</small>
          </div>
          <div class="form-group advancedModeGroup">
            <label for="advancedImport">Advanced Import</label>
            <textarea aria-describedby="advancedImportHelp"  class="form-control" name="advancedImport" id="advancedImport" rows="10" cols="5">{{customJson}}</textarea>
            <small id="advancedImportHelp" class="form-text text-muted">Upload a JSON import of the entire guild.  Copy/paste the above text to a text editor, edit it, and paste it back in this box.</small>
          </div>
          <div class="center"><input id="advancedModeCheckbox" type="checkbox" data-toggle="toggle" data-on="Simple Mode" data-off="Advanced Mode" data-width="150"></div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="uploadModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="POST" action="/epgp/{{guild.id}}/upload" id="uploadBackupForm">
        <div class="modal-header">
          <h5 class="modal-title">Upload your EP/GP Backup Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="uploadBackup">Paste your JSON backup data from the addon here</label>
            <textarea class="form-control" name="uploadBackup" id="uploadBackup" rows="10" cols="5"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Upload Backup</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
