<script>
  var epData = [{{#each epData}} { t: new Date({{t}}), y: {{y}}  }  ,{{/each}}];
  var gpData = [{{#each gpData}} { t: new Date({{t}}), y: {{y}}  }  ,{{/each}}];
  var prData = [{{#each prData}} { t: new Date({{t}}), y: {{y}}  }  ,{{/each}}];
  var epgpLabels = [{{#each epgpLabels}}'{{dtFormat this 'YYYY-MM-DD'}}',{{/each}}];
  var avgPr = {{avgPr}};
  var maxEpgp = {{maxEpgp}}
</script>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/epgp/{{guild.id}}">{{guild.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{displayName}}</li>
  </ol>
</nav>
<div style="height: 300px">
  <canvas id="epgpChart"></canvas>
</div>
{{#if noLootList}}
  <!-- CEPGP does not have loot -->
{{else}}
    <div style="text-align: right;"><a href="?days=30">Last Month</a> | <a href="?days=365">Last Year</a> | <a href="?days=-1">All Time</a> | <a href="?days={{guild.lootDays}}">Default</a></div>
  {{#if loot}}
    <table id="loot" class="table table-sm table-bordered table-striped table-dark">
      <thead>
        <tr><td>Item</td><td>GP</td><td>Looted</td></tr>
      </thead>
      {{#each loot}}
        <tr>
          <td>{{{wowhead item ../wowheadDomain}}}</td>
          <td>{{gp}}</td>
          <td class="narrow" data-sort="{{timestamp date}}">{{dtFormat date 'YYYY-MM-DD'}}</td>
        </tr>
      {{/each}}
    </table>
  {{else}}
    <p>No loot taken yet!</p>
  {{/if}}
{{/if}}
